* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: sans-serif;
}

/* gap -> espacio entre elemntos

recibe valores ene numeros con unidades relativas o absolutas

esta propiedad se pasa al contenedor */

.container {
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    /*  gap: 3rem; */
    column-gap: 16px; /* espacio entre los elementos vertical */
    row-gap: 32px; /* espacio entre los elementos orizontal */
    gap: 4px 32px; 
    width: 500px;
}

.item {
    background-color: cornflowerblue;
    height: 100px;
    width: 100px;
    flex-basis: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid;
}