* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: sans-serif;
}

.container {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    flex-direction: column;



    /* propiedades de flexbox para losm items
    
    Flex basis tamaño del main-size del elemento es como un ancho/alto base del elemnto 
    
    ccuando flex-direction:row / row-reverse -> flex basis = ancho cuando flex-direction: colum / colum-reverse -> flex-basis = alto/ 
    
    si tenglo flex-basis declarado el eidth no funciona*/
}

.item {
    background-color: cornflowerblue;
    height: 200px;
    width: 500px;
    flex-basis: 100px; /* si non ay espacio suficiente los elementos no creceran mas  */
    text-align: center;
    font-size: 24px;
    font-weight: bold; 
    border: 1px solid;
}